<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style_css/style_for_change.css}" rel="stylesheet"/>
    <title>Create new Item</title>
</head>
<body>

Создать новую услугу
<form th:method="POST" th:action="@{/adminpanel/items/new}" th:object="${item}">
    <div class="table">
        <div class="table_first">
            <div class="table_row" pla>Введите имя</div>
            <div class="table_row">Введите цену</div>
        </div>
        <div class="table_second">
            <input type="text" th:field="*{name}" id="name"/>
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            <input type="text" th:field="*{price}" id="price"/>
            <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</div>
            <input type="submit" value="Обновить"/>
        </div>
    </div>
</form>


<!--<form th:method="POST" th:action="@{/adminpanel/items/new}" th:object="${item}">-->
<!--    <label for="name">Введите имя: </label>-->
<!--    <input type="text" th:field="*{name}" id="name"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>-->
<!--    <br/>-->
<!--    <label for="price">Введите цену: </label>-->
<!--    <input type="text" th:field="*{price}" id="price"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</div>-->
<!--    <br/>-->
<!--    <input type="submit" value="Обновить"/>-->
<!--</form>-->

</body>
</html>