<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style_css/table.css}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>

Предмет
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Цена</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${item.getId()}">id</td>
        <td th:text="${item.getName()}">list</td>
        <td th:text="${item.getPrice()}">status</td>
        <td>
            <a th:href="@{/adminpanel/items/{id}/edit(id=${item.getId()})}">Изменить</a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/adminpanel/items/{id}(id=${item.getId()})}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!--<div>-->
<!--    <a th:text="${item.getId()}">item</a>-->
<!--    <a th:text="${item.getName()}">item</a>-->
<!--    <a th:text="${item.getPrice()}">item</a>-->
<!--    <a th:href="@{/adminpanel/items/{id}/edit(id=${item.getId()})}">Изменить</a>-->
<!--    <form th:method="DELETE" th:action="@{/adminpanel/items/{id}(id=${item.getId()})}">-->
<!--        <input type="submit" value="Удалить"/>-->
<!--    </form>-->
<!--</div>-->

</body>
</html>