<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style_css/table.css}" rel="stylesheet" />
    <title>Заказы заказчика</title>
</head>
<body>

Заказы пользователя <p th:text="${customer.getLogin()}">VALUE</p>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Услуги</th>
        <th>Статус</th>
        <th>Сумма заказа</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${ordersByCustomer}">
        <td th:text="${order.getId()}">id</td>
        <td th:text="${order.getItems()}">list</td>
        <td th:text="${order.getStatus.getCode()}">status</td>
        <td th:text="${order.getOrderPrice()}">price</td>
        <td>
            <a th:href="@{/adminpanel/orders/{id}(id=${order.getId()})}">Информация о заказе</a>
        </td>
    </tr>
    </tbody>
</table>

<!--<div th:each="order : ${ordersByCustomer}">-->
<!--    <a th:text="${order.getId()}">order</a>-->
<!--    <a th:text="${order.getItems()}">order</a>-->
<!--    <a th:text="${order.getStatus.getCode()}">order</a>-->
<!--</div>-->

</body>
</html>