<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>

Admin panel
<br/>
<br/>
<a href="/adminpanel/register">register new employee</a>

<br/>
<br/>
<a href="/adminpanel/admins">get all admins</a>

<br/>
<br/>
<a href="/adminpanel/specialists">get all specialists</a>

<br/>
<br/>
<a href="/adminpanel/customers">get all customers</a>

<br/>
<br/>
<a href="/adminpanel/orders">get all orders</a>

<br/>
<br/>
<a href="/adminpanel/items">all items</a>

<br/>
<br/>
<a href="/adminpanel/activeOrders">check active orders</a>

</body>
</html>