<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit order</title>
</head>
<body>

Заказ

<!--<form th:method="PATCH" th:action="@{/adminpanel/orders/{id}(id=${order.getId()})}">-->
<!--    <a th:text="${order.getId()}">order</a>-->
<!--    <a th:text="${order.getItems()}">order</a>-->
<!--    <input type="submit" value="Обновить"/>-->
<!--    <form th:method="POST" th:action="@{/adminpanel/orders/{id}(id=${order.getId()})}">-->
<!--        <select name="selectedOption">-->
<!--                    <option th:each="specialist: ${specialists}"-->
<!--                            th:text="${specialist.getLogin()}"-->
<!--                            th:value="${specialist.getId()}">-->
<!--                        specialist-->
<!--        </select>-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->
<!--</form>-->

<!--<form th:method="PATCH" th:action="@{/adminpanel/orders/{id}(id=${order.getId()})}" th:object="${order}">-->
<!--    <label for="name">Введите login: </label>-->
<!--    <input type="text" th:field="*{name}" id="name"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>-->
<!--    <br/>-->
<!--    <label for="price">Введите цену: </label>-->
<!--    <input type="text" th:field="*{price}" id="price"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</div>-->
<!--    <br/>-->
<!--    <input type="submit" value="Обновить"/>-->
<!--</form>-->

</body>
</html>