<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order by id</title>
</head>
<body>

Заказ
<p th:text="${order.getId()}">value</p>
<p th:text="${order.getItems()}">value</p>
<p th:text="${order.getStatus.getValue()}">value</p>
<p th:text="${order.getCustomer().getLogin()}">value</p>
<span th:if="${order.getEmployee()}" th:text="${order.getEmployee().getLogin()}"></span>
<span th:if="${order.getEmployee()} == null" th:text="'Специалист не назначен или уволен'"></span>
<br/>
<!--<a th:href="@{/adminpanel/orders/{id}/edit(id=${order.getId()})}">Изменить</a>-->
    <a th:if="${order.getStatus.getCode().equals('В процессе')}">
<!--        <a th:href="@{/adminpanel/orders/{id}/edit(id=${order.getId()})}">Изменить заказ</a>-->
        <form th:method="PATCH" th:action="@{/adminpanel/orders/{id}(id=${order.getId()})}">
            <select name="selectedOption">
                <option th:each="specialist: ${specialists}"
                        th:text="${specialist.getLogin()}"
                        th:value="${specialist.getId()}">
                    specialist
            </select>
            <button type="submit">Назначить специалиста</button>
        </form>
    </a>
<br/>

</body>
</html>